@media only screen and (min-width: 650px) {
  .sec1-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 650px) {
  .call-number ul li {
    display: inline-block;
  }
}
@media only screen and (max-width: 650px) {
  .sec2 h1,
  h3 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1033px) {
  .sec-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
  }
}
@media only screen and (min-width: 900px) {
  .review-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 899px) {
  .review-content {
    width: 50%;
  }
}
@media only screen and (max-width: 511px) {
  .review-content {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  
 
}
